.video-container {
    display: flex;
    margin-top: 15vw;
    flex-direction: column;
}

.page-title {
    font-size: 26px;
    font-weight: 400;
    padding: 0 8px;
    margin-bottom: 30px;
    border-left: 6px solid rgb(96, 95, 95);
}

.video-player-container {
    display: flex;
    gap: 2vw;

}

.video-player {
    width: 40vw;
    height: 20vw;
    border-radius: 10px;
}

@media(max-width: 1024px) {
    .video-player-container {
        flex-direction: row
    }
}

@media(max-width: 950px) {
    .video-player-container {
        flex-direction: row
    }

}


@media(max-width: 600px) {
    .video-container {
        margin-bottom: 50px;
    }

    .video-player-container {
        flex-direction: column;
        gap: 5vw;
    }

    .video-player {
        width: 100%;
        height: 25vh;

    }
}

@media(max-width: 480px) {
    .video-container {
        margin-top: 20vw;
    }

    .video-container {
        margin-bottom: 50px;
    }

    .video-player-container {
        flex-direction: column;
        gap: 5vw;
    }

    .video-player {
        width: 100%;
        height: 20vh;

    }
}